body{
    background-color: aqua;
}
.square{
    width: 300px;
    background-color: blue;
    height:300px;
    margin-bottom: 20px;
}
@media screen and (min-width:479px){
    .square{
        display:inline-block;
        background-color: fuchsia;
    }
}